<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-student-heading" data-cy="StudentCreateUpdateHeading" jhiTranslate="libraryMangementApp.student.home.createOrEditLabel">
        Create or edit a Student
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="libraryMangementApp.student.emailId" for="field_emailId">Email Id</label>
          <input type="text" class="form-control" name="emailId" id="field_emailId" data-cy="emailId" formControlName="emailId" />
          <div *ngIf="editForm.get('emailId')!.invalid && (editForm.get('emailId')!.dirty || editForm.get('emailId')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('emailId')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('emailId')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="libraryMangementApp.student.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('name')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="libraryMangementApp.student.rollNo" for="field_rollNo">Roll No</label>
          <input type="text" class="form-control" name="rollNo" id="field_rollNo" data-cy="rollNo" formControlName="rollNo" />
          <div *ngIf="editForm.get('rollNo')!.invalid && (editForm.get('rollNo')!.dirty || editForm.get('rollNo')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('rollNo')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="libraryMangementApp.student.joiningDate" for="field_joiningDate">Joining Date</label>
          <div class="input-group">
            <input
              id="field_joiningDate"
              data-cy="joiningDate"
              type="text"
              class="form-control"
              name="joiningDate"
              ngbDatepicker
              #joiningDateDp="ngbDatepicker"
              formControlName="joiningDate"
            />
            <button type="button" class="btn btn-secondary" (click)="joiningDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="libraryMangementApp.student.course" for="field_courses">Course</label>
          <select
            class="form-control"
            id="field_courses"
            data-cy="course"
            multiple
            name="courses"
            formControlName="courses"
            [compareWith]="compareCourse"
          >
            <option [ngValue]="courseOption" *ngFor="let courseOption of coursesSharedCollection">{{ courseOption.name }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="libraryMangementApp.student.bookHistory" for="field_bookHistories">Book History</label>
          <select
            class="form-control"
            id="field_bookHistories"
            data-cy="bookHistory"
            multiple
            name="bookHistories"
            formControlName="bookHistories"
            [compareWith]="compareBookHistory"
          >
            <option [ngValue]="bookHistoryOption" *ngFor="let bookHistoryOption of bookHistoriesSharedCollection">
              {{ bookHistoryOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
