<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="student">
      <h2 data-cy="studentDetailsHeading"><span jhiTranslate="libraryMangementApp.student.detail.title">Student</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ student.id }}</span>
        </dd>
        <dt><span jhiTranslate="libraryMangementApp.student.emailId">Email Id</span></dt>
        <dd>
          <span>{{ student.emailId }}</span>
        </dd>
        <dt><span jhiTranslate="libraryMangementApp.student.name">Name</span></dt>
        <dd>
          <span>{{ student.name }}</span>
        </dd>
        <dt><span jhiTranslate="libraryMangementApp.student.rollNo">Roll No</span></dt>
        <dd>
          <span>{{ student.rollNo }}</span>
        </dd>
        <dt><span jhiTranslate="libraryMangementApp.student.joiningDate">Joining Date</span></dt>
        <dd>
          <span>{{ student.joiningDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="libraryMangementApp.student.course">Course</span></dt>
        <dd>
          <span *ngFor="let course of student.courses; let last = last">
            <a [routerLink]="['/course', course.id, 'view']">{{ course.name }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <!-- <dt><span jhiTranslate="libraryMangementApp.student.bookHistory">Book History</span></dt>
        <dd>
          <span *ngFor="let bookHistory of student.bookHistories; let last = last">
            <a [routerLink]="['/book-history', bookHistory.id, 'view']">{{ bookHistory.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd> -->
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/student', student.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
